{% extends "master.html" %}
{% load static %}
{% load home_extras %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/sbar.css' %}">
{% endblock %}

{% block title %}
    {{curriculum.title}}
{% endblock %}

{% block header %}
    <ul class="c1 outlined navbar myNav fixed-top bg-body-tertiary" role="menu">
        <li class="nav-item"><i><strong>{{curriculum.title}}</strong></i></li>
        <li id="head" class="nav-item" style="font-size: 20px;"><strong>Overview</strong></li>
        <li>
            <a class="navbar-brand " href="/" style="color: #465572 !important;">
                    <i>TunePad</i>
                    <i class="fa-sharp fa-solid fa-house fa-lg"></i>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div id="side">
        <div id="menu-head" class="sidebar lesson center"><strong>Content</strong></div>
        <div id="menu" role="menu" class="accordion accordion-flush sidebar">
            {% for lesson in curriculum|children %}
                {% if forloop.first %}
                    <div class="accordion-item">
                        <div id="ovw" class="lesson is-active" title="{{lesson.title}}" content="{{lesson.text}}" onclick="populatePage(this)">{{lesson.title}}</div>
                    </div>
                {% else %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                              {{lesson.title}}
                          </button>
                        </h2>
                        <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#menu">
                          <ul id="units" class="list-group-flush">
                              {% for unit in lesson|children %}
                                {% with project=unit.project_id %}
                                {% if project %}
                                    <button id="{{lesson.slug}}{{forloop.counter}}" class="list-group-item" style="width: 100%;" title="{{unit.title}}" name="{{project}}" onclick="populatePage(this)">{{unit.title}}</button>
                                {% else %}
                                    <button id="{{lesson.slug}}{{forloop.counter}}" class="list-group-item" style="width: 100%;" title="{{unit.title}}" content="{{unit.text}}" onclick="populatePage(this)">{{unit.title}}</button>
                                {% endif %}
                                {% endwith %}
                              {% endfor %}
                          </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="side-offset">
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            $('footer').hide();
            var content = document.getElementById('ovw').getAttribute("content");
            document.getElementById('side-offset').innerHTML = content;
            });
    </script>
{% endblock %}